# Next.js
.next/
out/
node_modules/

# Env
.env.local
.env*

# Prisma
dev.db
dev.db-journal
prisma/migrations/

# Logs
npm-debug.log*
pnpm-debug.log*

# Prisma SQLite database
dev.db
dev.db-journal

# Prisma migrations (선택)
prisma/migrations/

# Custom Git Ignores
auto-imports.d.ts
.vscode/